<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/background">Information</a></li>
				<li><a href="/academic-profile">Academic Profile</a></li>
				<li><a href="/publications">Publications</a></li>
				<li><a href="/contact">Contact</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kadiliissaar@gmail.com">email</a></li>
				<li><img src="https://github.com/kadiliissaar/kadiliissaar.github.io/raw/master/Photos/Logos/SSF.jpg" style="float:right;width:150px;height:40px;margin-bottom:15px;margin-left:15px" style="width:100%">
				<a href="https://schmidtsciencefellows.org/"></li>
				<li><img src="https://github.com/kadiliissaar/kadiliissaar.github.io/raw/master/Photos/Logos/st-johns.jpg" style="float:right;width:80px;height:80px;margin-bottom:15px;margin-left:15px" style="width:100%">
				<a href="https://www.joh.cam.ac.uk/"></li>
				<li><img src="https://github.com/kadiliissaar/kadiliissaar.github.io/raw/master/Photos/Logos/EPSRC.png" style="float:right;width:120px;height:50px;margin-bottom:15px;margin-left:15px" style="width:100%">
				<a href="https://epsrc.ukri.org/"></li>
				</ul>
			</footer>
		</body>
	</html>
